<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header" >
    <!-- Required meta tags -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>webtoon review</title>
    <meta http-equiv="Content-Type" content=" charset=UTF-8; width=device-width, initial-scale=1.0" name="viewport" />
    <header>
    <center>
        <h1>webtoon review</h1>
        <nav>
            <ul>
                <a href="/review">리뷰</a>
                <a href="/hub">전체 웹툰</a>
            </ul>
        </nav>
    </center>
    </header>
</head>
