<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header" />
<body>
<div class="container" >
    <div class="container">
        <div>
            <a href="/review/new">새 글 작성</a>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="width: 5%">#</th>
                    <th style="width: 50%">좋아요 누른 리뷰</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="h ,i: ${hearts}" >
                    <td th:text="${h.review}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div> <!-- /container -->
</div>
</body>
</html>