<!DOCTYPE HTML>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .card-deck .card {
    flex-basis: 100%;
}

@media (min-width: 992px) {
    .card-deck .card {
        max-width: calc(23%);
        flex-basis: calc(25% - 30px); /* #{$grid-gutter-width} */
    }
}
</style>
<body>
<div class = "container">

    <div class="card-deck">
        <div class="card" style="margin:10px" th:each="webtoon : ${webtoons}">
            <a th:href ="${webtoon.url}">
                <img class="card-img-top" th:src = "${webtoon.img}" alt="Card image cap" >
                <div class="card-body">
                    <h5 class="card-title" th:text="${webtoon.title}"></h5>
                    <p class="card-text" th:text="${webtoon.author}"></p>
                </div>
            </a>
        </div>

    </div>

</div>
</body>
</html>