<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <br/>
<p sec:authentication="name"></p>
<br/>
<div sec:authorize="isAnonymous()" >
    <form action="/login" method="post" >
        <div class="form-group">
            <input type="text" class="form-control" id="username" name="username">
<br/>
            <input type="password" class="form-control" id="password" name="password" />
            <br/>
        <button type="submit" class="btn btn-primary">로그인</button>
        </div>
    </form>

    <a href="/oauth2/authorization/naver">
        <button type="button" class="btn btn-success">네이버 로그인</button>
    </a>
    <a href="/oauth2/authorization/kakao">
        <button type="button" class="btn btn-warning">카카오 로그인</button>
    </a>
    <!-- /oauth2/authorization/{registrationId}에 요청이 들어오면,
    스프링 시큐리티가 provider의 authorization-uri로 요청을 전달한다-->
    <br><br>

    <a href="/joinForm">
        <button type="button" class="btn btn-secondary">회원가입</button>
    </a><br>
</div>

<div sec:authorize="isAuthenticated()">
    <a href="/logout">
        <button type="button" class="btn btn-primary">로그아웃</button>
    </a>
</div>
</div>
</body>
</html>