<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header" />
<body>
<div class="container" >
    <div class="container">
        <div>
            <a href="/review/new">새 글 작성</a>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="width: 5%">#</th>
                    <th style="width: 50%">제목</th>
                    <th style="width: 30%">작성시간</th>
                    <th style="width: 15%">작성자</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ur ,i: ${userReview}" >
                    <td th:text="${i.count}"></td>
                    <td><a th:href="@{/review/{id}(id=${ur.id})}" th:text="${ur.title}">title</a></td>
                    <td th:text="${ur.createdDate}"></td>
                    <td th:text="${ur.member.username}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div> <!-- /container -->
</div>
</body>
</html>